<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="add-meal-form" action="/meals" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Meal</button>
  </form>
  <p class="available">Available Meals
    <section>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }) %>
    </section>

    <!-- I was not sure if you wanted a drop down menu or just a list so here is the code for the drop down -->
    <!-- <select>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }) %>
    </select> -->
  </p>
</main>

<%- include("../partials/footer") %>